In [1]:
import sys

sys.path.append('/home/jovyan/work')
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

In [3]:
from helpers.vars import DATA_PATH, RES_PATH
from helpers.analysis import build_windowed_diff_in_diff, replace_outliers_aggdict
from helpers.files import save_did_results, load_interventions
from helpers.retrieval import retrieve_all_editor_activity_levels_for_all_wikis
from helpers.plot import plot_metric_and_did_all_categories

In [4]:
large_wikis = ['en', 'fr', 'de', 'it']
medium_wikis = ['ja', 'sv', 'nl', 'ko']
small_wikis = ['sr', 'no', 'fi', 'da']

In [5]:
agg = pd.read_csv(f'{RES_PATH}/aggregated.tsv.gz', sep='\t')

agg_dict = {}
codes = agg.code.unique()
for c in codes:
    agg_dict[c] = agg[agg.code==c].copy()
    agg_dict[c]['date'] = agg_dict[c]['date'].apply(lambda d: pd.to_datetime(d, format='%Y-%m-%d'))
    agg_dict[c] = agg_dict[c].set_index('date')

In [6]:
interventions = load_interventions(f'{DATA_PATH}/interventions.csv')

In [7]:
# here, count stands for the edit_volume and edit_1 for the newcomers by first edit
agg

,date,covid,user_kind,count,rev_len_sum,actor_user,edit_1,edit_5,revision_is_identity_reverted,revision_is_identity_revert,code
0,2018-01-01,False,account,71799,1.929916e+09,4178.0,1297.0,348.0,6011,6683,en
1,2018-01-01,False,anonymous,23740,7.026144e+08,0.0,0.0,0.0,7155,1083,en
2,2018-01-01,False,bot,7196,1.487072e+08,0.0,0.0,0.0,257,627,en
3,2018-01-01,True,account,4,1.942120e+05,4178.0,1297.0,348.0,6011,6683,en
4,2018-01-02,False,account,81001,1.992566e+09,5155.0,1905.0,485.0,6355,7728,en
...,...,...,...,...,...,...,...,...,...,...,...
45917,2020-11-30,True,account,1,1.020430e+05,16.0,12.0,2.0,5,29,da
45918,2020-12-01,False,account,307,3.912818e+06,10.0,12.0,2.0,19,35,da
45919,2020-12-01,False,anonymous,134,1.528426e+06,0.0,0.0,0.0,44,11,da
45920,2020-12-01,False,bot,2,1.804700e+04,0.0,0.0,0.0,0,0,da
45921,2020-12-01,True,account,1,1.112300e+04,10.0,12.0,2.0,19,35,da

In [8]:
from resample.bootstrap import bootstrap

ModuleNotFoundError: No module named 'resample'